<script>
  import { goto } from "@roxi/routify";
  import * as ctx from "./context";
  import Markdown from "./Markdown.svelte";
  import Loading from "./Loading.svelte";

  const ipfs = ctx.ipfs();

  export let initialText = null;
  export let text = initialText;
  export let revises = null;
  $: textRequest =
    revises !== null
      ? ipfs.dag.get(revises).then((resp) => {
          initialText = resp.value.text;
          return resp.value.text;
        })
      : null;

  async function submit() {
    if (revises && text == initialText) {
      $goto(`/post/${revises.toString()}`);
      return;
    }
    const post = { text };
    if (revises !== null) {
      post.revises = revises;
    }
    const cid = await ipfs.dag.put(post, { pin: true });
    $goto(`/post/${cid.toString()}`);
  }
</script>

<Markdown
  bind:text
  {textRequest}
  defaultTab="md"
  htmlLabel="Preview"
  mdLabel="Edit"
  editable={true}
  resizeToFit={false}
>
  <svelte:fragment slot="loading"><Loading /></svelte:fragment>
  <svelte:fragment slot="controls">
    {#if revises !== null}
      <div class="meta">revising: {revises}</div>
    {/if}
    <div class="submit" on:click={submit}>Submit</div>
  </svelte:fragment>
</Markdown>

<style>
  .meta {
    color: grey;
  }
</style>
