<script lang="ts">
  import ContextGuard from "./ContextGuard.svelte";
  import Loading from "./Loading.svelte";
  import { mounted } from "./util";

  export let ctx;
  export let init: () => Promise<any>;

  const initProm = mounted().then(init);
</script>

{#await initProm}
  <slot name="loading">
    <div class="loader">
      <Loading />
    </div>
  </slot>
{:then initialized}
  <ContextGuard key={ctx} value={initialized}>
    <slot />
  </ContextGuard>
{/await}

<style>
  .loader {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
