<script lang="ts">
  import { goto, url } from "@roxi/routify";
  import Fa from "svelte-fa";
  import { faMoon } from "@fortawesome/free-solid-svg-icons";
  import { onMount } from "svelte";
  import { dataAttribute } from "./storage";
  import { writable } from "svelte/store";

  let lookup = "";
  function lookupCid() {
    $goto(`/post/${lookup}`);
  }

  const theme = dataAttribute<"dark" | "light">("theme");
  const prefersDark = writable(undefined);

  function toggleTheme() {
    theme.update((t) => {
      switch (t) {
        case "light":
          return "dark";
        case "dark":
          return "light";
        default:
          return $prefersDark ? "light" : "dark";
      }
    });
  }

  onMount(() => {
    const dark = window.matchMedia("(prefers-color-scheme: dark)");
    $prefersDark = dark.matches;
    const darkListener = () => theme.set(dark.matches ? "dark" : "light");
    dark.addEventListener("change", darkListener);
    return () => {
      dark.removeEventListener("change", darkListener);
    };
  });
</script>

<nav>
  <a href={$url("/feed")}>Feed</a>
  <a href={$url("/post")}>Post</a>
  <form on:submit|preventDefault={lookupCid}>
    <input
      id="qm-search"
      type="text"
      bind:value={lookup}
      placeholder="bafyreiehi5pvn5nrcin7rqnb5hvmgqyzfoqhioo5karnd2nrqjf2tz3dwe"
    />
    <input type="submit" />
  </form>
  <div id="theme-toggle" on:click={toggleTheme}>
    <Fa icon={faMoon} size="2x" />
  </div>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    padding: 0.2rem;
  }
  nav > * {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  #theme-toggle {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5rem;
  }
  #theme-toggle > :global(svg) {
    transition: opacity 0.5s ease 0.1s;
    opacity: 0.2;
  }
  #theme-toggle > :global(svg:hover) {
    opacity: 1;
  }
  a {
    flex: 0 1;
    padding: 0.3rem 0.3rem;
    color: var(--button-text-color);
    background-color: var(--button-background);
    text-decoration: none;
    border-radius: var(--border-radius);
  }
  form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  input[type="text"] {
    font-size: 100%;
  }
  input[type="submit"] {
    display: none;
  }
  #qm-search {
    width: 59ch;
    text-align: center;
  }
</style>
