<script lang="ts">
  import { url } from "@roxi/routify";

  export let code: string | number;
  export let desc: string;
  export let redirect: string = "/";
</script>

<div class="oof">
  <div class="huge">{code}</div>
  <div class="big">
    {desc}
    <!-- link to the parent folder of _fallback.svelte -->
    <a href={$url(redirect)}>Go back</a>
  </div>
</div>

<style>
  .oof {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .huge {
    font-size: 12rem;
  }
</style>
