<script lang="ts">
  import { goto } from "@roxi/routify";
  import * as ctx from "./context";

  import type { CID } from "multiformats/cid";

  import Loading from "./Loading.svelte";
  import Markdown from "./Markdown.svelte";

  const ipfs = ctx.ipfs();

  export let cid: CID;

  $: textRequest = ipfs.dag.get(cid).then((resp) => resp.value.text);
</script>

<Markdown {textRequest} tab="html" htmlLabel="HTML" mdLabel="Raw">
  <svelte:fragment slot="loading"><Loading /></svelte:fragment>
  <svelte:fragment slot="controls">
    <div class="meta">cid: {cid}</div>
    <div on:click={() => $goto(`/edit/${cid.toString()}`)}>Edit</div>
  </svelte:fragment>
</Markdown>

<style>
  .meta {
    color: grey;
  }
</style>
