<script lang="ts">
  import { params } from "@roxi/routify";
  import { parseCID } from "../../lib/ipfs";

  import Editor from "../../lib/Editor.svelte";
  import Oof from "../../lib/Oof.svelte";

  $: cid = parseCID($params.cid);
</script>

{#if cid}
  <Editor revises={cid} />
{:else}
  <Oof code="400" desc="Bad Request" />
{/if}
