<!-- routify:options preload="proximity" -->
<script lang="ts">
  import InitGuard from "../lib/InitGuard.svelte";
  import * as ctx from "../lib/context";
  import NavBar from "../lib/NavBar.svelte";

  import "highlight.js/lib/languages/rust";

  const initIpfs = async () => {
    if (window.ipfs === undefined) {
      window.ipfs = await window.IpfsCore.create();
    }
    return window.ipfs;
  };
</script>

<NavBar />
<main>
  <InitGuard ctx={ctx.ipfsKey} init={initIpfs}>
    <slot />
  </InitGuard>
</main>

<style>
  main {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: none;
    overflow-y: auto;
  }
</style>
