<script lang="ts">
  import * as ctx from "../lib/context";
  import View from "../lib/View.svelte";
  import example from "../lib/lorem.json";

  const putting = ctx.ipfs().dag.put({ text: example });
</script>

{#await putting then cid}
  <View {cid} />
{/await}
