<script lang="ts">
  import { params } from "@roxi/routify";
  import { parseCID } from "../../lib/ipfs";

  import Oof from "../../lib/Oof.svelte";
  import View from "../../lib/View.svelte";

  $: cid = parseCID($params.cid);
</script>

{#if cid}
  <View {cid} />
{:else}
  <Oof code="400" desc="Bad Request" />
{/if}
