<script lang="ts">
  import { Router } from "@roxi/routify";
  import { onMount } from "svelte";
  import { routes } from "../.routify/routes";

  const config = {
    useHash: true,
  };

  onMount(() => {
    if (window.location.pathname == import.meta.env.BASE_URL) {
      window.history.replaceState(null, "", import.meta.env.BASE_URL + "#/");
    }
  });
</script>

<Router {routes} {config} />
