html,
body,
#hmr {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
body,
#hmr {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.dark {
  @import (less) "highlight.js/styles/atom-one-dark.css";
  /* https://mwichary.medium.com/dark-theme-in-a-day-3518dde2955a */
  --hue: 210; /* Blue */
  --accent-hue: 25; /* Orange */
  --text-color-normal: hsl(var(--hue), 10%, 62%);
  --text-color-light: hsl(var(--hue), 15%, 35%);
  --text-color-richer: hsl(var(--hue), 50%, 72%);
  --text-color-highlight: hsl(var(--accent-hue), 70%, 45%);
  --link-color: hsl(var(--hue), 90%, 70%);
  --accent-color: hsl(var(--accent-hue), 100%, 70%);
  --error-color: rgb(240, 50, 50);
  --button-background: hsl(var(--hue), 63%, 43%);
  --button-text-color: black;
  --background: hsl(var(--hue), 20%, 12%);
  --background-alt: hsl(var(--hue), 20%, 20%);
}

.light {
  @import (less) "highlight.js/styles/atom-one-light.css";
  /* https://mwichary.medium.com/dark-theme-in-a-day-3518dde2955a */
  --hue: 210;
  --accent-hue: 25;
  --text-color-normal: hsl(var(--hue), 10%, 15%);
  --text-color-light: hsl(var(--hue), 15%, 25%);
  --text-color-richer: hsl(var(--hue), 50%, 10%);
  --text-color-highlight: hsl(var(--accent-hue), 70%, 25%);
  --link-color: hsl(var(--hue), 90%, 15%);
  --accent-color: hsl(var(--accent-hue), 100%, 25%);
  --error-color: rgb(240, 50, 50);
  --button-background: hsl(var(--hue), 40%, 63%);
  --button-text-color: black;
  --border-radius: 0.5rem;
  --background: hsl(var(--hue), 20%, 80%);
  --background-alt: hsl(var(--hue), 20%, 75%);
}

html[data-theme="dark"] {
  .dark();
}

html[data-theme="light"] {
  .light();
}

@media (prefers-color-scheme: dark) {
  html {
    .dark();
  }
}

@media (prefers-color-scheme: light) {
  html {
    .dark();
  }
}

* {
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text-color-normal);
}

a:link,
a:visited {
  color: var(--link-color);
}

b {
  color: var(--text-color-richer);
}

i {
  color: var(--text-color-light);
}

button {
  color: var(--button-text-color);
  background-color: var(--button-background);
  border-radius: var(--border-radius);
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0);
  transition: border-bottom 0.5s ease;
}

input[type="text"]:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--text-color-light);
  outline: none !important;
  box-shadow: none !important;
}

input[type="text"]::placeholder {
  transition: opacity 0.5s ease 0.3s;
}

input[type="text"]:focus::placeholder {
  opacity: 0;
}
